{% load static %}

<header class="navbar">
    <div class="">
        <div class="row">
            <!-- Logo (left) -->
            <div class="five columns">
                <a href="">
                    <img src="{% static 'platforms_app/images/../static/images/ccrab_logo.png' %}"
                             class="u-max-full-width logo"
                             alt="Logo">
                </a>
            </div>

            <!-- Nav items (right) -->
            <div class="six columns u-pull-right nav-links">
                <a href="">Home</a>
                <a href="">About</a>
                <a href="">Contact</a>
            </div>
        </div>
    </div>
</header>

